* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ease {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header, .chatActivo, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, .chatActivo, footer {
        padding-left: 0;
    }

    #messages {
        padding-left: 1%;
    }

    #m {
        width: 90% !important;
    }

    .chatMsg {
        margin-bottom: 10% !important;
    }
}

body {
    background-image: url("img/WhatsApp-Wallpaper-39.jpg");

}

.chatMsg {
    overflow: hidden;
    margin-bottom: 4%;
}

#messages {
    padding-left: 1%;
}

.msgOtros {
    float: left;
    clear: both;
}

.msgYo {
    background-color: lightgreen !important;
    float: right;
    clear: both;
    margin-right: 7%;
}
.msgWhisper {
    float: left;
    clear: both;
    background-color: #BE9FB1 !important;
}

#messages li div {
    border-radius: 5px;
    background-color: white;
    margin-bottom: 0.5%;
    padding: 2px 10px 2px 5px;
    max-width: 50%;
    word-wrap: break-word;
    display: inline-block;
}

#messages li {
    margin-bottom: 10px;
}

#form {
    position: fixed;
    bottom: 2%;
}

#m {
    position: fixed;
    bottom: 2%;
    width: 78%;
}

#enviarbtn {
    position: fixed;
    bottom: 2%;
    right: 1%;
}

.collection-item {
    cursor: pointer;
    width: 100%;
}

.imgPred {
    text-align: center;
}

.imgPred img {
    display: inline-block;
}

.chatActivo {
    display: block;
}

.chatInactivo {
    display: none;
}

#btnChatGeneral {
    background-color: teal !important;
}

#btnChatRoja {
    background-color: indianred !important;
}

#btnChatAmarilla {
    background-color: burlywood !important;
}

.separador {
    float: left;
    clear: both;
    width: 95%;
    margin: 1% 0 1% 1%;
    border: 0;
    height: 1px;
    background: teal;
    background-image: linear-gradient(to right, #ccc, teal, #ccc);
}
.separador2 {
    float: left;
    clear: both;
    width: 95%;
    margin: 1% 0 1% 1%;
    border: 0;
    height: 1px;
    background: #BE9FB1;
    background-image: linear-gradient(to right, #ccc, #BE9FB1, #ccc);
}
